body{
  font-family: Helvetica;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

.page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  background-color: bisque;
}

.page-header ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

.items{
  display: grid;
  grid-template-columns: repeat(4, 120px);
  grid-column-gap: 200px;
  margin-left: 100px;
  margin-top: 50px;
}

.item {
  border: solid 1px;
  width: 300px;
  margin-top: 30px;
}

.button {
  background-color: black;
  padding: 200px;
  border-radius: 3px;
  border-color: blue; 
  

}

button {
  background-color: lightblue;
  color: white;
}

footer {
background-color: bisque;
padding: 20px;
}

body {
background-color: aliceblue;
}

ul {
  list-style-type: none;
}